.map, .city, .county {
    text-align: center;
    justify-content: space-evenly;
}

div {
    min-height: 55vh;
}

img {
    align-items: center;
    width: 50vh;
}

h1 {
    font-size: 35px;
    text-align: center;
}

p {
    text-align: center;
    font-size: 20px;
}