<div class="map">
    <h1>Serving Marion and Surround Counties</h1>
    <p>Call today for a qoute</p>
    <p>Different Delivery Prices for Florida, Georgia, and Alabama</p>
    <div class="img">
        <img src="/assets/images/foods/florida.jpeg" alt="FireWood">
    </div>
</div>
<p>Marion County Florida Deliveries</p>
<ul class="city">
    Ocala
    Dunnellon
    Ocklawaha 
    Martin
    Anthony
    Belleview
    Summerfield
    Lowell
    Silver Springs
    Orange Lake
    Citra 
    Romeo
    Santos 
    Sparr
    Irvine 
</ul>
<p>Also serving the following counties:</p>
<ul class="county">
    Citrus,
    Alachua    
</ul>