<div class="container">
  <h1>Welcome to Fueled Up Firewood</h1>
  <p>Serving Marion and Surrounding Counties</p>
  <div class="about">
    Fueled Up Firewood has been in business for 2 years serving residents of Marion and surrounding counties (even southern Georgia)<br>with
    the best qualitiy firewood around. Pecan, Oak, Cherry...you name it and I can get it to you. Summer is around the corner<br>so you know what that means??!!
    BBQ season!! Contact today for rates and wood types.
  </div>
  <br>
  <div class="img">
    <img src="assets/images/foods/trailerwood.jpeg" alt="delivery">
    <img src="assets/images/foods/cherry.jpeg" alt="delivery">
    <img src="assets/images/foods/pile.jpeg" alt="delivery">
    <img src="assets/images/foods/log.jpeg" alt="delivery">
    <p>We have a variety of wood. Oak, Cherry, Pecan are just a few of them.
      We also carry multiple sizes for your needs.<br>You can purchase by weight or truck load.
      Contact us today to find out more.
    </p>
    <img src="assets/images/foods/pile.jpeg" alt="delivery">
    <img src="assets/images/foods/log.jpeg" alt="delivery">
    <img src="assets/images/foods/trailerwood.jpeg" alt="delivery">
    <img src="assets/images/foods/cherry.jpeg" alt="delivery">
    <p>We deliver. Give us a call today to schedule your delivery.</p>
    <p>Serving Marion and Surrounding Counties</p>
  </div>
</div>


