<h1>We have plenty of variety for you to choose from.</h1>
    <div class="pic">
        <img src="assets/images/foods/image0.jpeg" alt="pic">
        <img src="assets/images/foods/image1.jpeg" alt="pic">
        <img src="assets/images/foods/image2.jpeg" alt="pic">
        <img src="assets/images/foods/image3.jpeg" alt="pic">
        <img src="assets/images/foods/image4.jpeg" alt="pic"> 
        <img src="assets/images/foods/image5.jpeg" alt="pic">
        <img src="assets/images/foods/image6.jpeg" alt="pic">
    </div>
