<h1>We have plenty of variety for you to choose from.</h1>
    <div class="pic">
        <img src="assets/images/foods/image0.jpeg" alt="pic">
    </div>
    <p class="text">Here is an average truckload of wood set for delivery</p>
    <div class="pic">
        <img src="assets/images/foods/image1.jpeg" alt="pic">
    </div>
    <p class="text">Cherry Wood</p>
    <div class="pic">
        <img src="assets/images/foods/image2.jpeg" alt="pic">
    </div>
    <p class="text">A table made from a slab of Cherry</p>
    <div class="pic">
        <img src="assets/images/foods/image3.jpeg" alt="pic">
    </div>
    <p class="text">Average wood chip size</p>
    <div class="pic">
        <img src="assets/images/foods/image4.jpeg" alt="pic"> 
    </div>
    <p class="text">Fully loaded trailer</p>
    <div class="pic">
        <img src="assets/images/foods/image5.jpeg" alt="pic">
    </div>
    <p class="text">Splitting in process</p>
    <div class="pic">
        <img src="assets/images/foods/image6.jpeg" alt="pic">
    </div>
    <p class="text">Load delivered</p>
